html {
    scroll-behavior: smooth;
}
body {
    background: #eee;
}

main {
    background: white;
}
img {
    width: 100%;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: column;
}

.navbar-menu > li > a {
    padding: 8px 24px;
    color: inherit;
    text-decoration-line: none;
}

@media only screen and (min-width: 620px) {
    .navbar-menu {
        flex-direction: row;
    }
    .flex-row-25 {
        width: 25%;
        max-width: 25%;
    }
    .flex-row-33 {
        width: 33%;
        max-width: 33.3%;
    }
    .flex-row-50 {
        width: 50%;
        max-width: 50%;
    }
    .flex-row-66 {
        width: 66%;
        max-width: 66.6%;
    }
    .flex-row-75 {
        width: 75%;
        max-width: 75%;
    }
}

:root {
    --text-color: rgb(59, 59, 59);
    --thinnest-border: 1px solid var(--text-color);
    --thin-border: 2px solid var(--text-color);
    --thick-border: 5px solid var(--text-color);
}

@font-face {
    font-family: ImpactLabelReversed;
    src: url("impact_label_reversed.5df4dbe8.ttf");
}

@font-face {
    font-family: FiptySerif;
    src: url("fipty_serif.bcea7789.ttf");
}
@font-face {
    font-family: Heading;
    src: url("heading_bold.d2943477.ttf");
}

body {
    background-image: url("ep_naturalwhite.77b91b84.png");
    background-size: auto;
    background-repeat: repeat;
}
img {
    filter: saturate(0%) contrast(130%);
    transition: filter 500ms ease-in-out;
}
img:hover {
    filter: saturate(50%) contrast(160%);
    transition: filter 500ms ease-in-out;
}
.img-less-saturation-hover:hover {
    filter: saturate(20%) contrast(160%);
}
p {
    font-family: FiptySerif;
    font-weight: 400; 
    font-size: x-large;
    text-align: center;
}
.header {
    color: var(--text-color);
    margin-bottom: 0;
    font-family: ImpactLabelReversed;
}
#toggleMenu {
    font-family: ImpactLabelReversed;
    font-size: xx-large;
    border-top: var(--thin-border);
    border-bottom: var(--thin-border);
    text-align: center;
    display: flex;
    cursor: pointer;
}
.toggleMenu__side {
    width: 100%;
}
.toggleMenu__side__item {
    height: calc(50% - 1px);
    border-bottom: 1px double black;
}
.toggleMenu__side :last-child {
    border: 0;
    margin-top: 1px;
    border-top: 1px double black;
}
.toggleMenu__side__item--left {
    border-radius: 7px 0;
}
.toggleMenu__side__item--right {
    border-radius: 0 7px;
}
.toggleMenu__text {
    white-space: nowrap;
}
.navbar-menu-wrapper {
    max-height: 0;
    overflow: hidden;
}
.navbar-menu {
    border-bottom: var(--thin-border);
    text-transform: uppercase;
    font-family: ImpactLabelReversed;
    font-size: xx-large;
}

.navbar-menu__item {
    position: relative;
    color: var(--text-color);
    margin: auto;
}

.navbar-menu__item > a {
    position: relative;
    z-index: 2;
}

.main-content {
    background: transparent;
}
.first-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

/* disable line drawing around nav items on mobile */
.svg-container {
    display: none;
}

.heading {
    font-family: Heading;
    text-transform: capitalize;
    font-size: xxx-large;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    border-bottom: var(--thinnest-border);
}

.section-heading {
    font-family: ImpactLabelReversed;
    font-size: xx-large;
    text-align: center;
    border: var(--thin-border);
    border-left: 0;
    border-right: 0;
}

.section-content {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-content__text-block {
    max-width: 420px;
}
@media only screen and (min-width: 620px) {
    #toggleMenu {
        display: none;
    }
    .navbar-menu-wrapper {
        overflow: visible;
        max-height: none;
    }
    .navbar-menu {
        border-top: var(--thin-border);
    }
    .navbar-menu__item--circle {
        fill: none;
        stroke: #9b1c1c;
        stroke-width: 4px;
        opacity: 80%;
    }
    .navbar-menu__item--circle-1 {
        stroke-dasharray: 425.6;
        stroke-dashoffset: 426;
    }
    .navbar-menu__item--circle-2 {
        stroke-dasharray: 419.8;
        stroke-dashoffset: 420;
        stroke: #092768;
        opacity: 80%;
    }
    .navbar-menu__item--circle-3 {
        stroke-dasharray: 515.8;
        stroke-dashoffset: 516;
        stroke: #093f33;
        opacity: 80%;
    }
    .svg-container {
        display: initial;
        z-index: 1;
        position: absolute;
    }
    .svg-container1 {
        top: -75px;
        left: -260px;
        width: 600px;
        height: 200px;
    }
    .svg-container2 {
        top: -70px;
        left: -210px;
        width: 400px;
        height: 200px;
    }
    .svg-container3 {
        top: -70px;
        left: -260px;
        width: 500px;
        height: 200px;
    }
    .first-content {
        flex-direction: row;
    }
    .section-content {
        flex-direction: row;
    }
}


/*# sourceMappingURL=src.6887bed6.css.map */