:root {
    --text-color:  rgb(59, 59, 59);
}

@font-face {
    font-family: ImpactLabelReversed;
    src: url("../assets/fonts/impact_label/impact_label_reversed.ttf");
}

@font-face {
    font-family: BonVoyage;
    src: url("../assets/fonts/made_bon_voyage/bon_voyage.otf");
}


body {
    background-image: url("../assets/images/ep_naturalwhite.png");
    background-size: auto;
    background-repeat: repeat;
}
img {
    filter: saturate(0%) contrast(160%);
    border: 5px solid var(--text-color);
}
p {
    font-family: BonVoyage;
    font-weight: 500;
    font-size: large;
}
.header {

    color: var(--text-color);
    margin-bottom: 0;
    font-family: ImpactLabelReversed;
}
.navbar-menu {
    border: 2px solid var(--text-color) ;
    border-left: 0;
    border-right: 0;

    text-transform: uppercase;
    font-family: ImpactLabelReversed;
    font-size: xx-large;
}

.navbar-menu__item {
 position: relative;
 color: var(--text-color);
 margin: auto;
}

.navbar-menu__item > a {
    position: relative;
    z-index: 2;
}
/* .navbar-menu__item:hover {
    background: url(../assets/svgs/drawing.svg);
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
} */

.main-content {
    background: transparent;
}
.navbar-menu__item--circle {
    fill: none;
    stroke: red;
    stroke-width: 4px;
    stroke-dasharray: 553.5;
    stroke-dashoffset: 554;
}
.svg-container {
    z-index: 1;
    position: absolute;
    top: -80px;
    left: -100px;
    width: 300px;
    height: 200px;
}
