:root {
    --text-color: rgb(59, 59, 59);
    --thin-border: 2px solid var(--text-color);
    --thick-border: 5px solid var(--text-color);
}

@font-face {
    font-family: ImpactLabelReversed;
    src: url("../assets/fonts/impact_label/impact_label_reversed.ttf");
}

@font-face {
    font-family: BonVoyage;
    src: url("../assets/fonts/made_bon_voyage/bon_voyage.otf");
}

body {
    background-image: url("../assets/images/ep_naturalwhite.png");
    background-size: auto;
    background-repeat: repeat;
}
img {
    filter: saturate(0%) contrast(130%);
    border: var(--thick-border);
    transition: filter 500ms ease-in-out;
}
img:hover {
    filter: saturate(20%) contrast(160%);
    transition: filter 500ms ease-in-out;
}
p {
    font-family: BonVoyage;
    font-weight: 500;
    font-size: large;
}
.header {
    color: var(--text-color);
    margin-bottom: 0;
    font-family: ImpactLabelReversed;
}
#toggleMenu {
    font-family: ImpactLabelReversed;
    font-size: xx-large;
    border-top: var(--thin-border);
    border-bottom: var(--thin-border);
    text-align: center;
    display: flex;
}
.toggleMenu__side {
    width: 100%;
}
.toggleMenu__side__item {
    height: calc(50% - 1px);
    border-bottom: 1px double black;
}
.toggleMenu__side :last-child {
    border: 0;
    margin-top: 1px;
    border-top: 1px double black;
}
.toggleMenu__side__item--left {
    border-radius: 25px 0;
}
.toggleMenu__side__item--right {
    border-radius: 0 25px;
}
.toggleMenu__text {
    white-space: nowrap;
}
.navbar-menu-wrapper {
    max-height: 0;
    overflow: hidden;
}
.navbar-menu {
    border-bottom: var(--thin-border);
    text-transform: uppercase;
    font-family: ImpactLabelReversed;
    font-size: xx-large;
}

.navbar-menu__item {
    position: relative;
    color: var(--text-color);
    margin: auto;
}

.navbar-menu__item > a {
    position: relative;
    z-index: 2;
}

.main-content {
    background: transparent;
}

/* disable line drawing around nav items on mobile */
.svg-container {
    display: none;
}

@media only screen and (min-width: 620px) {
    #toggleMenu {
        display: none;
    }
    .navbar-menu-wrapper {
        overflow: visible;
        max-height: none;
    }
    .navbar-menu {
        border-top: var(--thin-border);
    }
    .navbar-menu__item--circle {
        fill: none;
        stroke: #9b1c1c;
        stroke-width: 4px;
        opacity: 80%;
    }
    .navbar-menu__item--circle-1 {
        stroke-dasharray: 425.6;
        stroke-dashoffset: 426;
    }
    .navbar-menu__item--circle-2 {
        stroke-dasharray: 419.8;
        stroke-dashoffset: 420;
        stroke: #092768;
        opacity: 80%;
    }
    .navbar-menu__item--circle-3 {
        stroke-dasharray: 515.8;
        stroke-dashoffset: 516;
        stroke: #093f33;
        opacity: 80%;
    }
    .svg-container {
        display: initial;
        z-index: 1;
        position: absolute;
    }
    .svg-container1 {
        top: -70px;
        left: -250px;
        width: 600px;
        height: 200px;
    }
    .svg-container2 {
        top: -65px;
        left: -205px;
        width: 400px;
        height: 200px;
    }
    .svg-container3 {
        top: -70px;
        left: -250px;
        width: 500px;
        height: 200px;
    }
}
