html {
    scroll-behavior: smooth;
}
body {
    background: #eee;
}

main {
    background: white;
}
img {
    width: 100%;
}
.theme-menu-wrapper {
    position: absolute;
    z-index: 3;
}
.theme-menu-wrapper > span {
    cursor: pointer;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: column;
}

.navbar-menu > li > a {
    padding: 8px 24px;
    color: inherit;
    text-decoration-line: none;
}
.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

.hide-on-mobile {
    display: none;
}
@media only screen and (min-width: 620px) {
    .navbar-menu {
        flex-direction: row;
    }
    .flex-row-25 {
        width: 25%;
        max-width: 25%;
    }
    .flex-row-33 {
        width: 33%;
        max-width: 33.3%;
    }
    .flex-row-50 {
        width: 50%;
        max-width: 50%;
    }
    .flex-row-66 {
        width: 66%;
        max-width: 66.6%;
    }
    .flex-row-75 {
        width: 75%;
        max-width: 75%;
    }
    #work__react-portfolio {
        height: 80vh;
        max-height: 90vh;
        width: 100%;
    }
    .hide-on-mobile{
        display: initial;
    }
    .show-only-on-mobiles {
        display: none;
    }
}
